<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <table>
        <thead>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
        </thead>
        <th:block th:each="message : ${messages}">
            <tr>
                <td th:text="${message.getId()}"></td>
                <td th:text="${message.getTitle()}"></td>
                <td th:text="${message.getContent()}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>
