<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website2</title>
</head>
<body>
    <div>
        <div th:if="${message != null}">
            <div th:text="${message.getDate()}"></div>
            <div th:text="${message.getId()}"></div>
            <h1><div th:text="${message.getTitle()}"></div></h1>
            <div th:text="${message.getContent()}"></div>
        </div>
        <div th:unless="${person == null}">
            <h1><div>Error</div></h1>
        </div>
        <div th:if="${error != null}">
            <div th:text="${error}"></div>
        </div>

    </div>
    <div>
        <form th:action="@{/sendMessage}" th:object="${getMessage}" method="post">
            <div>
                <label>Title</label>
                <input type="text" th:field="${getMessage.title}">
            </div>
            <div>
                <label>message</label>
                <input type="text" th:field="*{content}">
            </div>
            <div>
                <input type="hidden" th:field="*{parent}">
                <input type="hidden" th:field="*{id}">
            </div>
            <div th:text="${message.getId()}"></div>
            <button type="submit">Post Message</button>
        </form>
    </div>
</body>
</html>
