<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website2</title>
</head>
<body>
    <div>
        <div th:if="${message != null}">
            <div th:text="${message.getDate()}"></div>
            <div><a th:href="@{'/message/' + ${message.getParent()}}" th:text="${message.getParent()}"></a></div>
            <h1><div th:text="${message.getTitle()}"></div></h1>
            <div th:text="${message.getContent()}"></div>
        </div>
        <div th:unless="${person == null}">
            <h1><div>Error</div></h1>
        </div>
        <div th:if="${error != null}">
            <div th:text="${error}"></div>
        </div>

    </div>
    <p><br><br><br></p>
    <table>
        <thead>
            <td>ID</td>
            <td>Parent</td>
            <td>Title</td>
            <td>Content</td>
        </thead>
        <th:block th:each="child : ${children}">
            <tr>
                <td><a th:href="@{'/message/' + ${child.getMessage().getId()}}" th:text="${child.getMessage().getId()}"></a></td>
                <td><a th:href="@{'/message/' + ${child.getMessage().getParent()}}" th:text="${child.getMessage().getParent()}"></a></td>
                <td th:text="${child.getMessage().getTitle()}"></td>
                <td th:text="${child.getMessage().getContent()}"></td>
            </tr>
        </th:block>
    </table>
    <div>
        <form th:action="@{/sendMessage}" th:object="${getMessage}" method="post">
            <div>
                <label>Title</label>
                <input type="text" th:field="${getMessage.title}">
            </div>
            <div>
                <label>message</label>
                <input type="textarea" th:field="*{content}">
            </div>
            <div>
                <input type="hidden" th:field="*{parent}">
                <input type="hidden" th:field="*{id}">
            </div>
            <button type="submit">Post Message</button>
        </form>
    </div>
</body>
</html>
